* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: salmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.biglietti {
    background-color: white;
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info {
    font-weight: bold;
    height: 30px;
}
